
 <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/roha">Roha Gebeya</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/roha">Home</a></li>
              <%if(currentUser.isAdmin){ %> 
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Add Products</a>
                  </li>
                <%} %> 
                <%if(currentUser.isAdmin){ %> 
                  <li class="nav-item">
                    <a class="nav-link" href="/addcategories">Add Categories</a>
                    </li>
                  <%} %> 
                  <%if(currentUser.isAdmin){ %> 
                    <li class="nav-item">
                      <a class="nav-link" href="/categories">Categories List</a>
                      </li>
                    <%} %> 
                    <div class="ml-auto">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link btn btn-outline-dark " href="/logout">Logout</a>
                        </li>
                        </ul>
                        </div>
          </ul>
          <form class="d-flex" action="/carts" method="get">
              <button class="btn btn-outline-dark" type="submit">
                  <i class="bi-cart-fill me-1"></i>
                  Cart
                  <% if(typeof(carts)!== "undefined"){%>
                  <span class="badge bg-dark text-white ms-1 rounded-pill"><%=carts.length %> </span>
                  <%} else{%>
                    <span class="badge bg-dark text-white ms-1 rounded-pill"><%=0%></span>
                    <%} %>  
              </button>
          </form>
      </div>
  </div>
</nav>


















