<% layout('boilerplate') %>

<div class="row  center">

    <table class="table ml-5" >
      <thead>
        <tr>
          <th scope="col">Category name</th>
          <th scope="col">Delete</th>

        </tr>
      </thead>
    
      <tbody>
   
            <tr>
              <td><%= data.categoryname %></td>
              <td><a href="/categories/<%=data._id%>/delete">delete</a></td>
      
            </tr>
      </tbody>

    </table>    
      </div> 